<section class="add-room">
  <h2>Ajouter une Chambre</h2>

  <form (ngSubmit)="addRoom()">
    <label>Numéro:</label>
    <input [(ngModel)]="selectedRoom.numero" name="numero" required><br>

    <label>Type:</label>
    <input [(ngModel)]="selectedRoom.type" name="type" required><br>

    <label>Capacité:</label>
    <input type="number" [(ngModel)]="selectedRoom.capacite" name="capacite" required><br>

    <label>Équipements (séparés par des virgules):</label>
    <input [(ngModel)]="selectedRoom.equipements" name="equipements" required><br>

    <label>Tarif (TND):</label>
    <input type="number" [(ngModel)]="selectedRoom.tarif" name="tarif" required><br>

    <label>Étoiles:</label>
    <input type="number" min="1" max="5" [(ngModel)]="selectedRoom.star" name="star" required><br>

    <label>Image URL:</label>
    <input [(ngModel)]="selectedRoom.urlImage" name="urlImage"><br>

    <button type="submit" class="btn btn-success">Enregistrer</button>
  </form>
</section>
