<p>add-room works!</p>
<button (click)="toggleForm()" class="btn btn-primary">Add Room</button>

<div *ngIf="showAddForm">
  <form (ngSubmit)="addRoom()">
    <label>Numero:</label>
    <input [(ngModel)]="selectedRoom.numero" name="numero" required><br>

    <label>Type:</label>
    <input [(ngModel)]="selectedRoom.type" name="type" required><br>

    <label>Capacity:</label>
    <input type="number" [(ngModel)]="selectedRoom.capacite" name="capacite" required><br>

    <label>Equipements:</label>
    <input [(ngModel)]="selectedRoom.equipements" name="equipements" required><br>



    <label>Price (TND):</label>
    <input type="number" [(ngModel)]="selectedRoom.tarif" name="tarif" required><br>

    <label>Star:</label>
    <input type="number" [(ngModel)]="selectedRoom.star" name="star" required><br>


    <label>Image URL:</label>
    <input [(ngModel)]="selectedRoom.urlImage" name="image"><br>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
