<p>about works!</p>
<section class="about top">
    <div class="container flex">
      <div class="left">
        <div class="heading">
          <h1>WELCOME</h1>
          <h2>Crowny Hotel</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <button class="primary-btn">ABOUT US</button>
      </div>
      <div class="right">
        <img src="assets/images/about.png" alt="About Crowny Hotel">
      </div>
    </div>
  </section>
  
