

<section class="reservations">
  <div class="container top">
    <div class="heading">
      <h1>MANAGE</h1>
      <h2>Reservations</h2>
      <p>Edit, delete, or view existing reservations.</p>
      
    </div>

    <div class="content mtop">
      <!-- Liste des cartes des réservations -->
      <div class="cards-list">
        <div class="items" *ngFor="let reservation of reservations">
          <div class="card">
            <div class="image">
              <img [src]="'assets/images/reservation.jpg'" alt="Reservation Image">
            </div>
            <div class="text">
               
              <p>Dates: {{ reservation.dateArrivee }} à {{ reservation.dateDepart }}</p>
              
              <p>Type of paiement: {{ reservation.typePaiement }}</p>
              
              <p>Total: {{ reservation.montantTotal }} TND</p>

              <div class="buttons flex">
                <button class="primary-btn" (click)="openModal(reservation)">Update</button>
                <button class="primary-btn danger" (click)="deleteReservation(reservation.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Modifier la Réservation</h2>
    <form (ngSubmit)="updateReservation()">
       

      <label>Dates de séjour:</label>
      <input type="date" [(ngModel)]="selectedReservation.dateArrivee" name="dateArrivee" required> <br>
      <input type="date" [(ngModel)]="selectedReservation.dateDepart" name="dateDepart" required> <br>

       

      <label>Type de paiement:</label>
      <input [(ngModel)]="selectedReservation.typePaiement" name="typePaiement" required> <br>

      <button type="submit" class="primary-btn">Enregistrer</button>
    </form>
  </div>
</div>
